body {
    background-color: gray;
}

#gamefield {
    border: 2px solid chartreuse;
    width: fit-content;
    display: grid;
    justify-content: center;
}


#background {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
    
}


#background .tile {
    width: var(--TILE_SIZE);
    aspect-ratio: 1 / 1;

    background-repeat: no-repeat;
    background-size: 100%;
    image-rendering: pixelated;
}

.tile.path {
    background-image: url('images/tiles/path.png')
}

.tile.grass {
    background-image: url('images/tiles/grass.png')
}

.tile.water {
    background-image: url('images/tiles/water.png')
}
.tile.wall {
    background-image: url('images/tiles/wall.png')
}
.tile.floorstone {
    background-image: url('images/tiles/floor_stone.png')
}
.tile.door {
    background-image: url('images/tiles/door.png')
}
.tile.floorplanks {
    background-image: url('images/tiles/floor_planks.png')
}
.tile.fencehori {
    background-image: url('images/tiles/fence_hori.png')
}
.tile.fencevert {
    background-image: url('images/tiles/fence_vert.png')
}
.tile.tree {
    background-image: url('images/tiles/tree.png')
}
.tile.flowers {
    background-image: url('images/tiles/flowers.png')
}
.tile.lava {
    background-image: url('images/tiles/lava.png')
}
.tile.redwall{
    background-image: url('images/tiles/redwall.png')
}
.tile.floorwood{
    background-image: url('images/tiles/floor_wood.png')
}
#items {
    grid-area: 1 / 1;
    display: grid;
    position: relative;
    grid-template-columns: repeat(var(--GRID_WIDTH), var(--TILE_SIZE));
    grid-template-rows: repeat(var(--GRID_HEIGHT), var(--TILE_SIZE));
}
.item {
    width: var(--TILE_SIZE);
    aspect-ratio: 1 / 1;
    background-size: 100%;
    image-rendering: pixelated;
    grid-area: calc(var(--row) + 1) / calc(var(--col) + 1);
  }
  
  .item.chest {
    background-image: url(Images/items/chest_closed.png);
  }

.take {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    opacity: 0;
}


#characters {
    grid-area: 1 / 1;
}

#player{
    width: 35px;
    aspect-ratio: 16 / 20;
    background-image: url('Images/Characters/Character 5.png');
    background-size: 400% 400%;
    image-rendering: pixelated;
}

#player.animate{
    animation-duration: 0.7s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

#player.up{
    background-position: 0% 35%;
    animation-name: up;
}

#player.down{
    background-position: 0% 0%;
    animation-name: down;
}   

#player.left{
    background-position: -0% 67%;
    animation-name: left;
}

#player.right{
    background-position: 0% 100%;
    animation-name: right;
}

#enemy1{
    width: 40px;
    aspect-ratio: 16 / 20;
    background-image: url('Images/character/enemies.png');
    background-size: 1200% 400%;
    image-rendering: pixelated;
}

@keyframes up {
    from {
        background-position: 0% 35%;
    }
    to {
        background-position: -400% 35%;
    }
}



@keyframes down {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: -400% 0%;
    }
}


@keyframes left {
    from {
        background-position: 0% 67%;
    }
    to {
        background-position: -400% 67%;
    }
}

@keyframes right {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: -400% 100%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.highlight{
    outline: 2px dashed yellow;
    translate: 0 0;
}

.show.rect {
    outline: 2px solid red;
}

.show-reg-point::before{
    content: "";
    position: absolute;
    background-color: cyan;
    width: 3px;
    height: 3px;
    translate: var(--regX) var(--rexY);
}